.body-wrapper {
    padding: 20px;
    text-align: left;
    position: relative;
}

#cart-table p{
    text-align: center;
    color: #333;
}

.cart-wrapper{
    display: inline-block;
    width: 700px;
    position: absolute;
    top:0;
    
}

#cart-table{
    width: 100%;
    border-spacing: 0;

}

.payment-wrapper{
    display: inline-block;
    width: 500px;
    position: relative;
    left: 700px;
    
}

#paymentForm{
    margin: 48px auto;
}

.buttons-container{

    margin: 20px;
}

h2{
    margin: 20px;
}

table {
    width: 50%;
    margin: 20px;
    background-color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    opacity: 0.7;
    color: #fff;
}

img{
    width: 30px;
    height: 30px;
}

.button-item{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 30px;
}

.button-item:hover {
    opacity: 0.9;   
}

input[type = 'checkbox']{
    cursor: pointer;
}



#paymentForm {
    background-color: #fff;
    padding: 20px;
    width: 300px;
}

p {
    margin-bottom: 8px;
    font-weight: bold;
}

#paymentForm input {
    width: 285px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #333;
}

span{
    font-size: 10px;
    padding-top: 15px;
    font-style: italic;
    color: gray;
}

#payment-warning{
    height: 20px;
    font-size: 12px;
    margin-bottom: 7px
}

#payment-button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}
input{
    font-weight: bold;
}

#quantity {
    width: 40px;
    text-align: center;
    padding: 12px 10px;
    font-size: 15px;
}

#increaseButton,#decreaseButton{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 50%;
}



